<h3 class="center-align"> Checkout </h3>
<div class="container checkout">
  <div class="row">
    <div class="col s7">
      <%subtotal = 0%>
      <table>
        <thead>
          <tr>
              <th>Product Name</th>
              <th>Qty</th>
              <th>Item Price</th>
              <th>Line Price</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each do |cart_item| %>
            <tr>
              <td><%= cart_item.name %></td>
              <td><%= session[:cart]["#{cart_item.id}"] %></td>
              <td>$<%=cart_item.current_price%></td>
              <td>$<%=session[:cart]["#{cart_item.id}"]*cart_item.current_price %>
              <td><%= link_to remove_from_cart_path(cart_item), method: :delete do %>
                  <i class="material-icons">clear</i>
              <% end %></td>
            </tr>
            <% subtotal = cart_item.current_price*session[:cart]["#{cart_item.id}"] + subtotal%>
          <% end %>
        </tbody>
      </table>
      <h6 class="right-align">Subtotal: $<%= number_with_precision(subtotal, precision: 2) %></h6>
      <%= render partial: 'orders/tax'%>
    </div>
  </div>
</div>