<h2><%= @category.name %></h2>
<% if @category.products.empty? %>
  <p>There are no products in this category</p>
<% else %>
  <div class="columns is-multiline">
  <% @category.products.each do |product| %>
    <div class="column is-3">
      <div class="card">
      <div class="card-image">
        <figure class="image">
          <%=image_tag('placeholder-600x600.jpg')%>
        </figure>
      </div>
        <div class="card-content">
          <p class="title is-6"><%= link_to product.name, product %></h6>
          <p class="title is-6">$<%= product.current_price%><%= product.size %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
