<%= render partial: 'layouts/breadcrumb_nav', object: @category, locals: {href: "", location_title:  @category.name, show_product: false}%>
<div class="container">
  <h4 class="center-align"><%= @category.name %></h4>
  <% if @category.products.empty? %>
    <p>There are no products in this category</p>
  <% else %>
    <div class="row">
    <% @category.products.each do |product| %>
      <div class="col s12 m2">
        <div class="card medium hoverable">
          <div class="card-image products">
            <%= image_tag product.image %>
          </div>
          <div class="card-content">
            <p class="grey-text text-darken-4"><%= link_to product.name, product %></p>
            <div class="card-action">
              <span class="permfont">$<%= product.current_price%> </span><%= product.size %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
