<%= render partial: 'layouts/breadcrumb_nav', object: @category, locals: {href: "", location_title:  @category.name, show_category: true, show_product: false}%>
<h4 class="center-align"><%= @category.name %></h4>
<div class="container">
  <%= render partial: 'products/search'%>
</div>
<div class="container">

  <% if @category.products.empty? %>
    <p>There are no products in this category</p>
  <% else %>
    <div class="row">
      <details>
        <summary>Shopping Cart (<%= @cart.size %>)</summary>
        <ul>
          <% @cart.each do |cart_item| %>
            <li><%= cart_item.name %> <%= link_to 'x', remove_from_cart_path(cart_item), method: :delete %></li>
          <% end %>
        </ul>
      </details>
      <%= render partial: 'products/product', collection: @category.products %>
    </div>
  <% end %>
</div>
