<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-3 navpad">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb"><%= @category.name %></a>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <h4 class="center-align"><%= @category.name %></h4>
  <% if @category.products.empty? %>
    <p>There are no products in this category</p>
  <% else %>
    <div class="row">
    <% @category.products.each do |product| %>
      <div class="col s12 m2">
        <div class="card medium hoverable">
          <div class="card-image products">
            <%= image_tag product.image %>
          </div>
          <div class="card-content">
            <p class="grey-text text-darken-4"><%= link_to product.name, product %></p>
            <div class="card-action">
              <span class="permfont">$<%= product.current_price%> </span><%= product.size %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
