<div class="col s12 m2">
  <div class="card index">
    <div class="card-image products">
      <%=image_tag product.image%>
      <% if @cart.include?(product)%>
        <%=link_to remove_from_cart_path(product), method: :delete, class: "btn-floating halfway-fab waves-effect waves-light red hoverable" do %>
          <i class="material-icons">remove_shopping_cart</i>
        <% end %>
      <% else %>
        <%=link_to add_to_cart_path(product), method: :post, class: "btn-floating halfway-fab waves-effect waves-light green lighten-1 hoverable" do %>
          <i class="material-icons">add_shopping_cart</i>
        <% end %>
      <% end %>
    </div>
    <div class="card-content cc">
      <p class="grey-text text-darken-4"><%= link_to product.name, product %></p>
    </div>
    <div class="card-action">
      <% if product.sales_price.nil? %>
        <span class="permfont">$<%= number_with_precision(product.current_price, precision: 2)%> </span><%= product.size %>
      <% else %>
        <span class="sale">$<%= number_with_precision(product.sales_price, precision: 2)%> </span><%= product.size %>
        <p class="grey-text text-lighten-1 right-align">Reg: $<%= number_with_precision(product.current_price, precision: 2)%></p>
      <% end %>
    </div>
  </div>
</div>


