<%= render partial:'layouts/breadcrumb_nav', object: @product, locals: {href: '/products/', location_title: 'Products', show_product: false}%>
<h4 class="center-align">Products</h4>
<div class="container">
  <%= render partial: 'products/search'%>
</div>
<div class="container">
  <% if @products.empty? %>
    <p>There are no products available.</p>
  <% else %>
    <div class="row">
      <div class="col s4">
        <%= render partial: 'filter', object: @product %>
      </div>
      <div class="col s8">
        <span class="right-align"><%= paginate @products, outer_window: 1, window: 2 %></span>
      </div>
    </div>
    <div class="row">
    <details>
      <summary>Shopping Cart (<%= @cart.size %>)</summary>
      <ul>
        <% @cart.each do |cart_item| %>
          <li><%= cart_item.name %> <%= link_to 'x', remove_from_cart_path(cart_item), method: :delete %></li>
        <% end %>
      </ul>
    </details>
      <%= render partial: 'product', collection: @products %>
    </div>
    <%= paginate @products, outer_window: 1, window: 2 %>
    <%= page_entries_info @products, entry_name: 'item' %>
  <% end %>
</div>
