<%= render partial:'layouts/breadcrumb_nav', object: @product, locals: {href: '/products/', location_title: 'Products', show_product: false}%>
<div class="container">
  <h4 class="center-align">Products</h4>
  <% if @products.empty? %>
    <p>There are no products available.</p>
  <% else %>
    <span class="right-align"><%= paginate @products, outer_window: 1, window: 2 %></span>
    <div class="row">
      <%= render partial: 'product', collection: @products %>
    </div>
    <%= paginate @products, outer_window: 1, window: 2 %>
    <%= page_entries_info @products, entry_name: 'item' %>
  <% end %>
</div>
