<h4 class="center-align">Products</h4>
<div class="container">
  <%= render partial: 'products/search'%>
</div>
<div class="container">
  <% if @products.empty? %>
    <p>There are no products available for the search term "<%= params[:search_term] %>".</p>
  <% else %>
    <% if params[:search_id].empty?%>
      <p>Search term "<%= params[:search_term] %>".</p>
    <% else %>
      <p>Search term "<%= params[:search_term] %>" in <%=@category_name.name%>.</p>
    <% end %>
    <%= page_entries_info @products, entry_name: 'item' %>
    <span class="right-align"><%= paginate @products, outer_window: 1, window: 2 %></span>
    <div class="row">
      <%= render partial: 'product', collection: @products %>
    </div>
    <%= paginate @products, outer_window: 1, window: 2 %>
    <%= page_entries_info @products, entry_name: 'item' %>
  <% end %>
</div>
