<%= render partial: 'layouts/breadcrumb_nav', object: @product, locals: {href: "/categories/#{@category.id}", location_title:  @category.name, show_product: true} %>
<div class="container">
  <div class="row">
    <div class="col s9 offset-s1">
      <div class="card horizontal">
        <div class='card-image valign-wrapper products'>
          <% if @product.image.present? %>
            <%= image_tag @product.image %>
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="header"><%= @product.name %></h5>
            <span class="permfont">$<%= @product.current_price%> </span><%= @product.size %>
            <p>SKU: <%= @product.sku %></p>
            <p>Description: <%= @product.description %></p>
            <p>In stock: <%= @product.qty_on_hand%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

