<%= render partial: 'layouts/breadcrumb_nav', object: @product, locals: {href: "/categories/#{@category.id}", location_title:  @category.name, show_product: true} %>
<div class="container">
  <%= render partial: 'products/search'%>
</div>
<div class="container">
  <div class="row">
    <div class="col s9 offset-s1">
      <div class="card horizontal">
        <div class='card-image valign-wrapper products'>
          <% if @product.image.present? %>
            <%= image_tag @product.image %>
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="header"><%= @product.name %></h5>
            <% if @product.sales_price.nil? %>
              <span class="permfont">$<%= @product.current_price%> </span><%= @product.size %>
            <% else %>
              <span class="sale">$<%= @product.sales_price%> </span><%= @product.size %>
              <p class="grey-text text-lighten-1">Reg: $<%= @product.current_price%></p>
            <% end %>
            <p class="padding">SKU: <%= @product.sku %></p>
            <p class="padding">Description: <%= @product.description %></p>
            <p class="padding">In stock: <%= @product.qty_on_hand%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

